<div class="dashboard-container" style="margin-top: 60px">
  <nav class="dashboard-menu">
    <ul>
      <li>
        <a href="#" class="menu-item" (click)="showSection('reviews', $event)">Validación de Reseñas</a>
      </li>
      <li>
        <a href="#" class="menu-item" (click)="showSection('courses', $event)">Insertar Cursos y Talleres</a>
      </li>
    </ul>
  </nav>
  
  <div class="dashboard-content">
    <div *ngIf="activeSection === 'reviews'">
      <app-reviews></app-reviews>
    </div>

    <div *ngIf="activeSection === 'courses'">
      <app-courses></app-courses>
    </div>
  </div>
</div>