.dashboard-container {
  display: flex;
  margin-top: 60px;
}

.dashboard-menu {
  width: 270px;
  background-color: #f4f4f4;
  height: 100vh;
  position: fixed;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  padding-top: 20px;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);

      .menu-item {
        display: block;
        padding: 18px 15px;
        color: #333;
        text-decoration: none;
        transition: background-color 0.3s, color 0.3s;
        position: relative;

        &.active {
          background-color: #3f51b5;
          color: #fff;
        }

        &:hover {
          background-color: #ddd;
          color: #000;
        }
        
        .badge {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 10px;
          height: 10px;
          background-color: lightcoral;
          color: white;
          border-radius: 50%;
          padding: 4px;
          font-size: 0.8em;
          position: absolute;
          top: 19px;
          right: 15px;
        }
      }
    }
  }
}

.dashboard-content {
  margin-left: 270px;
  flex-grow: 1;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}