<div class="dashboard-container" >
  <nav class="dashboard-menu" >
    <ul>
      <li>
        <a href="#" class="menu-item" [ngClass]="{'active': activeSection === 'home'}" (click)="showSection('home', $event)">🏠 Home</a>
      </li>
      <li>
        <a href="#" class="menu-item" [ngClass]="{'active': activeSection === 'messages'}" (click)="showSection('messages', $event)">📨 Mensajes</a>
      </li>
      <li>
        <a href="#" class="menu-item" [ngClass]="{'active': activeSection === 'reviews'}" (click)="showSection('reviews', $event)">
          ⭐️ Validación de Reseñas
          <span *ngIf="newReviews.length > 0" class="badge">{{ newReviews.length }}</span>
        </a>
      </li>
      <li>
        <a href="#" class="menu-item" [ngClass]="{'active': activeSection === 'courses'}" (click)="showSection('courses', $event)">📙 Cursos y Talleres</a>
      </li>
      <li>
        <a href="#" class="menu-item" [ngClass]="{'active': activeSection === 'specializations'}" (click)="showSection('specializations', $event)">🎖️ Especializaciones</a>
      </li>
    </ul>
  </nav>
  
  <div class="dashboard-content">
    
    <div *ngIf="activeSection === 'home'">
      <app-dashboard-home></app-dashboard-home>
    </div>

    <div *ngIf="activeSection === 'reviews'">
      <app-reviews></app-reviews>
    </div>

    <div *ngIf="activeSection === 'courses'">
      <app-courses></app-courses>
    </div>

    <div *ngIf="activeSection === 'messages'">
      <app-messages></app-messages>
    </div>
  </div>
</div>