  <div class="messages-section">
    <h4>Mensajes de formulario</h4>

    <ul>
      <li *ngFor="let msg of messages">
        <p class="info">{{ msg.name }} | {{ msg.email }}</p>
        <p>Preferencia de comunicacion: <span style="font-weight: 600">{{ msg.comPreference }}</span> </p>
        <p>Teléfono: <span style="font-weight: 600">{{ msg.phone }}</span> </p>
        <p>Hora de preferencia: <span style="font-weight: 600"> {{ msg.time }} </span></p>
        <p style="margin-top: 18px;">Mensaje: {{ msg.msg }}</p>
      </li>
    </ul>
  </div>
