@import "../../../styles";

.footer {
  margin-top: 200px;
  background: $gradient-pink;
  margin-bottom: 0 !important;
  padding-bottom: 2rem;

  .container-img{
    width: 100%;
    display: flex;
        justify-content: center;
        margin-bottom: 20px;

  }

  .container {
    width: 100%;
    background-color: $gradient-pink;
    display: flex;
    justify-content: space-between;

    .col {
      width: 33%;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;

      h4 {
        font-size: 12px;
      }

      a,
      p {
        font-size: 0.7rem;
        margin-bottom: 10px;
        line-height: unset;
      }
    }
  }

  .copy {
    p {
      margin-top: 40px;
      font-size: 0.7rem;
      text-align: center;
      font-weight: 600;
    }
  }
}
