<div class="container">
  <div class="wrap container-full">
    <footer class="footer">
        <div class="footer__line1">
          <div class="footer__line1-leftside">
            <img src="assets/img/logos/main-logo.png" alt="Logo" width="150" />
          </div>

          <div class="footer__line1-rightside">
            <p><a href="/aviso-legal">Aviso Legal</a></p>
            <p><a href="/politica-privacidad">Política de Privacidad</a></p>
            <p>
              <a href="/terminos-condiciones">Términos y Condiciones de Uso</a>
            </p>
            <p><a href="/politica-cookies">Política de Cookies</a></p>
          </div>
        </div>

        <div class="footer__line2">
            <div class="footer__line2-contact">
                <p><strong>Contacto:</strong></p>
                <p>Dirección: Calle General Zabala, Madrid, España</p>
                <p>Email: ejemplo</p>
                <p>Teléfono: +34 123 456 789</p>
            </div>
        </div>

        <div class="footer__line3">
          <p>&copy; 2024 Rosana Calvo Website. Todos los derechos reservados. <span>Desarrollado por Vicbolt</span></p>
        </div>

        <!-- <div class="footer__line4">
          <a href="https://www.facebook.com"
            ><img
              src="https://example.com/facebook-icon.png"
              alt="Facebook"
              width="30"
          /></a>
          <a href="https://www.twitter.com"
            ><img
              src="https://example.com/twitter-icon.png"
              alt="Twitter"
              width="30"
          /></a>
          <a href="https://www.instagram.com"
            ><img
              src="https://example.com/instagram-icon.png"
              alt="Instagram"
              width="30"
          /></a>
        </div> -->
    </footer>
  </div>
</div>
