<div class="reviews-container">
  <!-- Top Menu -->
  <div class="menu">
    <button 
      (click)="showSection('newReviews')" 
      [ngClass]="{ 'active': activeSection === 'newReviews' }"
    >
      Reseñas Nuevas
    </button>
    <button 
      (click)="showSection('acceptedReviews')" 
      [ngClass]="{ 'active': activeSection === 'acceptedReviews' }"
    >
      Reseñas Aceptadas
    </button>
    <button 
      (click)="showSection('deniedReviews')" 
      [ngClass]="{ 'active': activeSection === 'deniedReviews' }"
    >
      Reseñas Denegadas
    </button>
  </div>

  <!-- Reseñas Nuevas -->
  <div
    class="reviews-section new-reviews"
    [ngClass]="{ active: activeSection === 'newReviews' }"
  >
    <ul>
      <li *ngFor="let review of newReviews">
        <p class="info">
          {{ review.nombre }}, {{ review.edad }} años -
          <span style="font-style: italic">({{ review.motivo }})</span>
        </p>
        <p>{{ review.review }}</p>

        <div class="action-btns">
          <button (click)="acceptReview(review)">Aceptar</button>
          <button (click)="denyReview(review)">Denegar</button>
        </div>
      </li>

      <div *ngIf="newReviews.length === 0" class="no-reviews-message">
        <p class="mensajeInfo">No tienes reseñas pendientes de aprobar.</p>
      </div>
    </ul>
  </div>

  <!-- Reseñas Aceptadas -->
  <div
    class="reviews-section accepted-reviews"
    [ngClass]="{ active: activeSection === 'acceptedReviews' }"
  >
    <ul>
      <li *ngFor="let review of acceptedReviews">
        <p class="info">
          {{ review.nombre }}, {{ review.edad }} años -
          <span style="font-style: italic">({{ review.motivo }})</span>
        </p>
        <p>{{ review.review }}</p>

        <div class="action-btns">
          <button (click)="denyReview(review)">Denegar</button>
        </div>
      </li>
      <div *ngIf="acceptedReviews.length === 0" class="no-reviews-message">
        <p class="mensajeInfo">No tienes reseñas pendientes de aprobar.</p>
      </div>
    </ul>
  </div>

  <!-- Reseñas Denegadas -->
  <div
    class="reviews-section denied-reviews"
    [ngClass]="{ active: activeSection === 'deniedReviews' }"
  >
    <ul>
      <li *ngFor="let review of deniedReviews">
        <p class="info">
          {{ review.nombre }}, {{ review.edad }} años -
          <span style="font-style: italic">({{ review.motivo }})</span>
        </p>
        <p>{{ review.review }}</p>

        <div class="action-btns">
          <button (click)="acceptReview(review)">Aceptar</button>
          <button style="display: none;"></button>
        </div>
      </li>
      <div *ngIf="deniedReviews.length === 0" class="no-reviews-message">
        <p class="mensajeInfo">No tienes reseñas pendientes de aprobar.</p>
      </div>
    </ul>
  </div>
</div>
