<div id="menu-nav">
  <div class="wrap">
    <div class="full-container">
      <a [routerLink]="['/home']" class="container-leftside">
        <div class="logo">
          <img src="../../../assets/img/logos/main-logo.png" alt="Logotipo" />
        </div>
      </a>

      <!-- Botón Hamburguesa -->
      <button class="menu-toggle" (click)="toggleMenu()">☰</button>

      <!-- Menú Normal -->
      <div class="container-rightside">
        <a
          class="textlink"
          [routerLink]="['/home']"
          [routerLinkActive]="['active']"
          >Inicio</a
        >
        <div
          class="textlink"
          id="info-btn"
          (mouseenter)="showSubcontainer()"
          (mouseleave)="hideSubcontainer()"
        >
          <a>Información</a>
          <div
            id="subcontainerInfo"
            class="subcontainer-info"
            *ngIf="subcontainer == true"
          >
            <h4 [routerLink]="['/aboutme']">Sobre mí</h4>
            <h4 [routerLink]="['/EMDRinfo']">¿Qué es la terapia EMDR?</h4>
            <!-- <h4 [routerLink]="['/testimonys']">Opiniones</h4> -->
          </div>
        </div>
        <a
          class="textlink"
          [routerLink]="['/services']"
          [routerLinkActive]="['active']"
          >Servicios</a
        >
        <a
          class="textlink"
          [routerLink]="['/contactme']"
          [routerLinkActive]="['active']"
          >Contacto</a
        >
        <a [routerLink]="['/contactme']" [routerLinkActive]="['active']">
          <div class="btn-2 pink" style="width: 50%; border: 1px solid gray">
            Contactar
          </div>
        </a>
      </div>

      <!-- Menú Móvil -->
      <div class="mobile-menu" [ngClass]="{ active: menuOpen }">
        <a
          class="textlink"
          [routerLink]="['/home']"
          [routerLinkActive]="['active']"
          (click)="toggleMenu()"
          >Inicio</a
        >
        <div class="textlink" (click)="toggleSubMenu()">
          Información
          <div class="subcontainer-info" *ngIf="subcontainer">
            <h4 [routerLink]="['/aboutme']" (click)="toggleMenu()">Sobre mí</h4>
            <h4 [routerLink]="['/EMDRinfo']" (click)="toggleMenu()">¿Qué es la terapia EMDR?</h4>
            <!-- <h4 [routerLink]="['/testimonys']" (click)="toggleMenu()">Opiniones</h4> -->
          </div>
        </div>
        <a
          class="textlink"
          [routerLink]="['/services']"
          [routerLinkActive]="['active']"
          (click)="toggleMenu()"
          >Servicios</a
        >
        <a
          class="textlink"
          [routerLink]="['/contactme']"
          [routerLinkActive]="['active']"
          (click)="toggleMenu()"
          >Contacto</a
        >
        <a [routerLink]="['/contactme']" [routerLinkActive]="['active']" (click)="toggleMenu()">
          <div class="btn-2 pink" style="width: 50%; border: 1px solid gray">
            Contactar
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
