<section id="hero">
  <div class="full-container">
    <div class="container-leftside">
      <!-- <img src="/assets/img/pics/loto_flower5.jpg" alt="" /> -->
      <!-- <img src="/assets/img/pics/loto_flower4.png" alt=""> -->
    </div>
    <div class="container-rightside">
      <h1>
        Comienza el camino hacia <br />
        <span>tu bienestar emocional</span>
      </h1>
      <div class="container-button center">
        <button [routerLink]="['/contactme']" class="main">Contactar</button>
      </div>
    </div>
  </div>
</section>
