@import "../../../styles";

#hero {
  margin-top: 7rem;
  background-color: $color-1-opa25;
  background-image: url('../../../assets/img/pics/loto_flower5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;

  & .full-container {
    width: 85%;
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;


    & .container-leftside {
      width: 50%;
      display: flex;
      justify-content: center;

      & img {
        width: 60%;
      }
    }

    & .container-rightside {
      width: 50%;

      & h1 {
        font-size: 2.5rem;
        font-family: $font-text;
        color: $color-2;
        line-height: 4rem;
        text-align: center;
        margin-bottom: 2rem;

        & span {
          font-weight: 600;
          // color: $color-1;
        }
      }
    }
  }
}
