@import "../../../styles";

#hero {
  background: linear-gradient(45deg, rgba(124, 255, 232, 0.25), white);

  & .full-container {
    padding-top: 9rem;
    padding-bottom: 2rem;
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
    align-items: center;


    & .container-leftside {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: start;

      & h1 {
        font-size: 2.5rem;
        color: #17332c;
        line-height: 4rem;
        margin-bottom: 2rem;

        & span {
          font-weight: 600;
          // color: $color-1;
        }
      }

      & button{
        display: flex;
        justify-content: center;
      }

      & img {
        width: 60%;
      }
    }

    & .container-rightside {
      width: 50%;
      display: flex;
      justify-content: end;
    }
  }
}