<div class="dashboard-home">
  <h2>Resultados influenciador</h2>
  <div class="summary-container">
    <div class="summary-item">
      <img src="../../../assets/img/icons/followers-icon.png" alt="Seguidores Icono" />
      <div>
        <h3>Usuarios activos</h3>
        <p *ngIf="totalUsers !== null">{{ totalUsers }}</p>
        <p *ngIf="totalUsers === null">Cargando...</p>
      </div>
    </div>
    <div class="summary-item">
      <img src="../../../assets/img/icons/reach-icon.png" alt="Alcance Icono" />
      <div>
        <h3>Alcance</h3>
        <p>1234</p>
      </div>
    </div>
    <div class="summary-item">
      <img src="../../../assets/img/icons/interactions-icon.png" alt="Interacciones Icono" />
      <div>
        <h3>Interacciones</h3>
        <p>1234</p>
      </div>
    </div>
  </div>

  <div class="profile-container">
    <div class="profile-info">
      <img src="../../../assets/img/profile-picture.png" alt="Profile Picture" class="profile-picture" />
      <h3>Rosana Calvo</h3>
      <p>Psicologa especializada en EMDR</p>
    </div>
    <div class="chart-container">
      <h3>Indicadores generales</h3>
      <img src="../../../assets/img/chart.png" alt="Indicadores generales" class="chart-image" />
    </div>
  </div>

  <div class="recommendations">
    <h3>Recomendaciones</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet nisl suscipit adipiscing. In fermentum posuere urna nec tincidunt praesent semper. Habitant morbi tristique senectus et netus et malesuada fames. Cursus mattis molestie a iaculis at erat pellentesque.</p>
  </div>
</div>