<div class="panel">
  <header class="panel-header">
    <h1>{{ greeting }}, <span class="highlight">{{ userName }}</span></h1>
  </header>

  <div class="panel-grid">
    <div class="card date-card">
      <p> 🗓️ Hoy es {{ todayDate }}</p>
      <hr>
      <span *ngIf="efemeride" class="highlight italic">{{ efemeride }}</span>
    </div>


    <div class="card quote-card">
      <p>✒️ Frase del día:</p>
      <hr>

      <span class="italic quote">{{ dailyQuote }}</span>
    </div>

    <div class="card mood-card">
      <p>¿Cómo te sientes hoy?</p>
      <hr>

      <div class="emoji-list">
        <button (click)="setMood('😊')">😊</button>
        <button (click)="setMood('😐')">😐</button>
        <button (click)="setMood('😔')">😔</button>
      </div>
      <p *ngIf="mood" class="selection">Has elegido: {{ mood }}</p>
    </div>



    <div class="card resource-card">
      <p> 🧘🏻 Respira 1 minuto</p>
      <hr>

      <audio controls class="audio-player">
        <source src="../../../../../assets/audios/Meditacion1min.mp3" type="audio/mpeg" />
        Tu navegador no soporta audio.
      </audio>
    </div>
  </div>
</div>