<div class="container">
  <div class="wrap">
    <div class="title-container">
      <h4>TESTIMONIOS</h4>
      <h2>Opiniones de los pacientes</h2>
    </div>

    <div class="container__box">
      <div class="box">
        <div class="name">
          <p>Julia, 31 años.</p>
        </div>

        <div class="case">
          <p>Trauma Infantil</p>
        </div>

        <div class="msg">
          "Iniciar terapia con Rosana fue un paso difícil pero necesario para
          mí. Durante años, arrastré un trauma infantil que afectaba mi vida
          diaria y mis relaciones. Con la ayuda de Rosana y la terapia EMDR,
          finalmente pude enfrentar y procesar esos recuerdos dolorosos. Ahora
          me siento más fuerte y liberada de ese peso. Gracias, Rosana, por
          guiarme en este viaje de sanación".
        </div>
      </div>

      <div class="box">
        <div class="name">
          <p>Javier, 45 años.</p>
        </div>

        <div class="case">
          <p>Ansiedad Laboral</p>
        </div>

        <div class="msg">
          "La ansiedad en el trabajo estaba afectando seriamente mi vida. Sentía
          que no podía controlar mis pensamientos ni mis emociones. Después de
          algunas sesiones de terapia con Rosana, empecé a notar cambios
          significativos. Aprendí técnicas para manejar mi ansiedad y encontré
          un nuevo sentido de calma y claridad. Estoy agradecido por el apoyo y
          la orientación de Rosana en este proceso".
        </div>
      </div>

      <div class="box">
        <div class="name">
          <p>Sofía, 20 años.</p>
        </div>

        <div class="case">
          <p>Ruptura Amorosa</p>
        </div>

        <div class="msg">
          "La ruptura con mi pareja fue devastadora y me dejó sintiéndome
          perdida y rota. Decidí buscar ayuda y encontré a Rosana. Con su apoyo
          y la terapia EMDR, pude procesar mis emociones y reconstruir mi
          autoestima. Ahora, aunque el dolor sigue siendo parte de mi historia,
          me siento más fuerte y lista para seguir adelante. Gracias, Rosana,
          por ser mi guía en este difícil viaje".
        </div>
      </div>
      <div class="box">
        <div class="name">
          <p>Julia, 31 años.</p>
        </div>

        <div class="case">
          <p>Trauma Infantil</p>
        </div>

        <div class="msg">
          "Iniciar terapia con Rosana fue un paso difícil pero necesario para
          mí. Durante años, arrastré un trauma infantil que afectaba mi vida
          diaria y mis relaciones. Con la ayuda de Rosana y la terapia EMDR,
          finalmente pude enfrentar y procesar esos recuerdos dolorosos. Ahora
          me siento más fuerte y liberada de ese peso. Gracias, Rosana, por
          guiarme en este viaje de sanación".
        </div>
      </div>

      <div class="box">
        <div class="name">
          <p>Javier, 45 años.</p>
        </div>

        <div class="case">
          <p>Ansiedad Laboral</p>
        </div>

        <div class="msg">
          "La ansiedad en el trabajo estaba afectando seriamente mi vida. Sentía
          que no podía controlar mis pensamientos ni mis emociones. Después de
          algunas sesiones de terapia con Rosana, empecé a notar cambios
          significativos. Aprendí técnicas para manejar mi ansiedad y encontré
          un nuevo sentido de calma y claridad. Estoy agradecido por el apoyo y
          la orientación de Rosana en este proceso".
        </div>
      </div>

      <div class="box">
        <div class="name">
          <p>Sofía, 20 años.</p>
        </div>

        <div class="case">
          <p>Ruptura Amorosa</p>
        </div>

        <div class="msg">
          "La ruptura con mi pareja fue devastadora y me dejó sintiéndome
          perdida y rota. Decidí buscar ayuda y encontré a Rosana. Con su apoyo
          y la terapia EMDR, pude procesar mis emociones y reconstruir mi
          autoestima. Ahora, aunque el dolor sigue siendo parte de mi historia,
          me siento más fuerte y lista para seguir adelante. Gracias, Rosana,
          por ser mi guía en este difícil viaje".
        </div>
      </div>
    </div>
  </div>
</div>
