.quote{
    padding: 70px 0 40px 0;
    h6{
        font-style: italic;
        text-align: center;
        font-size: 25px;
        line-height: 40px;
        
        span{
            font-weight: 500;
        }
    }
}