<section class="emdrshort">
    <div class="wrap">
        <div class="title-container green">
            <img src="../../../assets/img/icons/asterisc-green.png" alt="Asterisco verde">
            <div>
              <h4 class="green">INFORMACIÓN</h4>
              <h2>Descubre EMDR: Una Terapia Eficaz para Superar el Trauma</h2>
            </div>
        </div>

              <div class="container">
                <img src="../../../assets/img/pics/maze.jpg" alt="Laberinto con persona">
                <div class="rightside">
                    <p>El EMDR es una técnica revolucionaria que ayuda a procesar recuerdos traumáticos y a aliviar la ansiedad. Si has intentado otros métodos sin éxito, el EMDR puede ser lo que estás buscando.</p>
                
                    <div class="ventaja">
                        <img class="icon" class="icon" src="../../../assets/img/icons/dot.png" alt="">
                        <p>Superación de traumas pasados</p>
                    </div>        
                    <div class="ventaja">
                        <img class="icon" src="../../../assets/img/icons/dot.png" alt="">
                        <p>Menor ansiedad y estrés</p>
                    </div> 
                    <div class="ventaja">
                        <img class="icon" src="../../../assets/img/icons/dot.png" alt="">
                        <p>Terapia rápida y efectiva</p>
                    </div> 
                    <div class="ventaja">
                        <img class="icon" src="../../../assets/img/icons/dot.png" alt="">
                        <p>Mejora del bienestar emocional</p>
                    </div>         
                    <div class="btn-2 green" [routerLink]="['/EMDRinfo']">
                    Conoce más sobre EMDR
                </div>
                </div>
              </div>
            </div>
</section>
