@import "../../../styles";


.faq {
    margin-top: 100px;

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;
        box-sizing: border-box;

        .box {
            width: 43%;
            border: 1px solid $color-3-opa25;
            padding: 15px 30px;
            border-radius: $br;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 20px;
            cursor: pointer;
            transition: background-color 0.3s, box-shadow 0.3s;

            .question{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                h4 {
                    margin: 0;
                    font-size: 12px;
                }
    
                .toggle {
                    font-size: 20px;
                    font-weight: 200;
                    transition: transform 0.3s;
                }
            }

            .answer {
                max-height: 0; /* Initially collapsed */
                overflow: hidden; /* Hide overflow */
                padding: 0; /* Initial padding */
                background-color: white;
                border-top: 1px solid $color-3-opa50;
                width: 100%;
                transition: max-height 0.3s ease-out, padding 0.6s ease-out; /* Transition for height and padding */
            }

            &.active {
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

                .toggle {
                    transform: rotate(45deg); // Rotate the plus sign
                }

                .answer {
                    max-height: 500px; /* Enough value to fit content */
                    padding: 10px 0; /* Padding when expanded */
                }
            }
        }
    }
}
