<section class="faq" id="faq">
    <div class="wrap">
        <div class="title-container green">
            <img src="../../../assets/img/icons/asterisc-green.png" alt="">
            <div>
              <h4>Resuelve tus dudas</h4>
              <h2>
                Preguntas y respuestas frecuentes
              </h2>
            </div>
          </div>
          
        <div class="container">
            <div class="box" *ngFor="let item of faqs" (click)="toggle(item)" [ngClass]="{'active': item.expanded}">
                <div class="question">
                    <h4>{{ item.question }}</h4>
                    <span class="toggle" [ngClass]="{'active': item.expanded}">&#43;</span>
                </div>
                <div class="answer" *ngIf="item.expanded">
                    <p class="caption">{{ item.answer }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
