@import "../../../../styles.scss";

.container {
//   background-image: url("../../../../assets/img/backgrounds/aboutme-back3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 6rem;
  box-sizing: border-box;
  background: $gradient-green;


  & .container-set1 {
    // background: $gradient-pink;
    box-shadow: $bs-green;
    box-sizing: border-box;
    border-radius: 16px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    position: relative;

    opacity: 0;
    transform: translateX(200px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;

    &.in-view {
      opacity: 1;
      transform: translateX(0);
    }

    & .leftside {
      width: 66%;
      backdrop-filter: blur(30px);
      border-radius: 16px;
      padding: 2rem;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;

      & span {
        font-weight: 600;
      }
    }

    & img {
      width: 29%;
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 0;
      right: 0;
      border-radius: $br $br $br 90px;
    }
  }

  & .container-set2 {
    margin-top: 4rem;

    opacity: 0;
    transform: translateX(200px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;

    &.in-view {
      opacity: 1;
      transform: translateX(0);
    }

    & span {
      font-weight: 600;
    }

    button{
        margin-top: 40px;
    }
  }

  & .container-set3 {
    border-radius: 16px;
    padding: 3rem;
    box-sizing: border-box;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    opacity: 0;
    transform: translateX(200px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;

    &.in-view {
      opacity: 1;
      transform: translateX(0);
    }

    & .card {
        background-color: white;
      width: 24%;
      box-shadow: $bs-green;
      border-radius: 16px;
      padding: 20px 20px 10px 20px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      margin-bottom: 2rem;
      backdrop-filter: blur(15px);

      h4{
        font-size: 13px;
        text-align: center;
        margin: 0;
      }

      p{
        text-align: center;
        font-size: 11px;

        &.info{
            font-size: 10px;
            line-height: unset;
        }
      }
    }
  }
}
