<div class="container">
  <div class="wrap">
    <div class="title-container pink">
      <h4>SOBRE MI</h4>
      <h2>Conóceme mejor</h2>
    </div>

    <div class="container-set1">
      <div class="leftside">
        <p>
          Mi nombre es Rosana Calvo Cruza y
          <span>soy psicóloga por vocación.</span>
        </p>

        <p>
          Siempre me interesé por las personas, y en el especial por el
          sufrimiento humano.
        </p>

        <p>
          Desde muy pronto supe que quería ser psicóloga, tuve la fortuna de
          descubrir esa vocación tempranamente. Junto con enseñar y formar a las
          personas, que por suerte son las 2 labores que realizo hoy en mi vida.
        </p>

        <p>
          Compagino el trabajo en mi consulta, con el trabajo como
          <span>entrenadora emocional en Gimnasio-emocional</span>, para grandes
          empresas. Siendo responsables del
          <span
            >área de prevención en salud mental, y bienestar emocional.</span
          >
        </p>
      </div>

      <!-- <div class="rightside">
        <div
          class="badge-base LI-profile-badge"
          data-locale="es_ES"
          data-size="large"
          data-theme="light"
          data-type="HORIZONTAL"
          data-vanity="victor-fernandez-design"
          data-version="v1"
        >
          <a
            class="badge-base__link LI-simple-link"
            href="https://es.linkedin.com/in/victor-fernandez-design?trk=profile-badge"
          ></a>
        </div>
      </div> -->
    </div>

    <div class="title-container pink">
      <h4>SOBRE MI</h4>
      <h2>Mi historia</h2>
    </div>
    <div class="container-set2">
      <div class="leftside"></div>
      <div class="rightside">
        <p>
          Estudié psicología, decantándome hacia la psicoterapia. Al finalizar
          mi carrera, realicé un <span>Master en Psicología clínica</span> y
          comencé pronto a ejercer la profesión.
          <span>Durante 14 años</span> trabajé en el terreno público, un tiempo
          en <span>Centros de adicciones (CAID-CAD)</span>, y fundamentalmente
          en la Red de personas con enfermedad mental grave y duradera.
        </p>

        <p>
          Mi orientación era <span>cognitivo-conductual</span>, la cual aprendí
          tanto en la carrera como en el Master, pero tenía la sensación al
          realizar terapia, de que necesitaba llegar a más, que este tipo de
          tratamientos se quedaban en la superficie de los problemas.
          <span> Fue así como descubrí la Terapia EMDR.</span>
        </p>

        <p>
          En otras terapias había aprendido a entender y conceptualizar los
          problemas, a saber de dónde vienen, en que momentos de la vida de la
          persona se han aprendido creencias, patrones emocionales, bloqueos,
          etc. Pero consideraba que esas herramientas
          <span
            >eran insuficientes para cambiarlos y sanarlos en profundidad</span
          >
          . La terapia EMDR llegó justo para resolver ese aspecto, ya que
          permite ir a la raíz de esos aprendizajes y
          <span
            >ayudar a las personas a sanar, modificar patrones y resolver sus
            traumas.</span
          >
        </p>

        <p>
          Desde entonces ha cambiado por completo mi forma de realizar terapia y
          casi <span>mi propia vida</span>.
        </p>

        <p>
          No dejo de maravillarme al ser testigo de las
          <span>sanaciones y transformaciones</span> que viven las personas a
          las que acompaño, gracias a la eficacia de ésta terapia.
        </p>

        <div class="container-button">
          <button class="pink">Seguir leyendo sobre EMDR</button>
        </div>
      </div>
    </div>

    <div class="title-container pink">
      <h4>SOBRE MI</h4>
      <h2>Formación oficial</h2>
    </div>

    <div class="container-set3">
      <ol>
        <li>
          Licenciada en <span>Psicología</span> por la Universidad Autónoma de
          Madrid
        </li>
        <li>Master en <span>Psicología Clínica</span> en CINTECO</li>
        <li>
          Master en <span>Inteligencia Emocional</span> por la Universidad
          Camilo José Cela
        </li>
        <li>
          Experto en <span>psicoterapia integradora infanto-juvenil</span> en NB
          Psicología
        </li>
        <li>
          Formación <span>EMDR Nivel I y II (Asociación EMDR España)</span>.
          Acreditada Terapeuta EMDR, siendo supervisada y preparándome para
          Clínico.
        </li>
        <li>
          Especialista <span> universitario en Trauma y EMDR</span> Universidad
          UNIR.
        </li>
        <li>
          Formación avanzada en <span>EMDR, Apego y Disociación</span> entre
          otros aspectos.
        </li>
        <li>
          <span
            >Acreditada para ejercer la Psicología Sanitaria por la Comunidad de
            Madrid.</span
          >
        </li>
      </ol>
    </div>
  </div>
</div>
