<div class="container">
  <div class="wrap">

    <div class="title-container pink">
      <img src="../../../assets/img/icons/asterisc-pink.png" alt="">
      <div>
        <h4>SOBRE MI</h4>
        <h2>Mi Trayectoria Profesional</h2>
      </div>
    </div>
    
    <div class="container-set1 container_aboutjs">
      <div class="leftside">
        <p>
          Mi nombre es Rosana Calvo Cruza y
          <span>soy psicóloga por vocación.</span>
        </p>

        <p>
          Siempre me interesé por las personas, y en el especial por el
          sufrimiento humano.
        </p>

        <p>
          Tuve la fortuna de descubrir mi vocación como psicóloga tempranamente, junto con enseñar y formar a las
          personas, que, por suerte son las 2 labores que realizo hoy en mi vida.
        </p>

        <p>
          Compagino el trabajo en mi consulta, con el trabajo como
          <span>entrenadora emocional en "Gimnasio-emocional"</span>, para grandes
          empresas. Siendo responsable del
          <span
            >área de prevención en salud mental y bienestar emocional.</span
          >
        </p>
      </div>

        <img src="../../../../assets/img/pics/rosana-silla.png" alt="Rosana sentada en una silla mirando hacia la cámara">
      </div>


      

    <div class="container-set2 container_aboutjs">
        <p>
          Estudié psicología, decantándome hacia la psicoterapia. Al finalizar
          mi carrera, realicé un <span>Master en Psicología clínica</span> y
          comencé pronto a ejercer la profesión.
          <span>Durante 14 años</span> trabajé en el terreno público, un tiempo
          en <span>Centros de adicciones (CAID-CAD)</span>, y fundamentalmente
          en la <span> Red de personas con enfermedad mental grave y duradera </span>.
        </p>

        <p>
          Mi orientación era <span>cognitivo-conductual</span>, la cual aprendí
          tanto en la carrera como en el Master, pero tenía la sensación al
          realizar terapia, de que necesitaba llegar a más, que este tipo de
          tratamientos se quedaban en la superficie de los problemas.
          <span> Fue así como descubrí la Terapia EMDR.</span>
        </p>

        <p>
          En otras terapias había aprendido a entender y conceptualizar los
          problemas, a saber de dónde vienen, en que momentos de la vida de la
          persona se han aprendido creencias, patrones emocionales, bloqueos,
          etc. Pero consideraba que esas herramientas
          <span
            >eran insuficientes para cambiarlos y sanarlos en profundidad</span
          >
          . La terapia EMDR llegó justo para resolver ese aspecto, ya que
          permite ir a la raíz de esos aprendizajes y
          <span
            >ayudar a las personas a sanar, modificar patrones y resolver sus
            traumas.</span
          >
        </p>

        <p>
          Desde entonces ha cambiado por completo mi forma de realizar terapia y
          casi <span>mi propia vida</span>.
        </p>

        <p>
          No dejo de maravillarme al ser testigo de las
          <span>sanaciones y transformaciones</span> que viven las personas a
          las que acompaño, gracias a la eficacia de ésta terapia.
        </p>

          <button class="btn-2 pink" [routerLink]="['/EMDRinfo']">Seguir leyendo sobre EMDR</button>
    </div>

    <div class="title-container green">
      <img src="../../../assets/img/icons/asterisc-green.png" alt="">
      <div>
        <h4>SOBRE MI</h4>
        <h2>Formación y Cursos</h2>
      </div>
    </div>

    <div class="container-set3 container_aboutjs">

      <div class="card">
        <h4>Licenciada en <span>Psicología</span></h4>
        <p class="caption">Universidad Autónoma de
          Madrid</p>
      </div>

      <div class="card">
        <h4>Master en "Psicología Clínica"</h4>
        <p class="caption">CINTECO</p>
      </div>

      <div class="card">
        <h4>Master en "Inteligencia Emocional"</h4>
        <p class="caption">Universidad Camilo José Cela</p>
      </div>

      <div class="card">
        <h4>Experta en "Psicoterapia integradora infanto-juvenil"</h4>
        <p class="caption">NB Psicología</p>
      </div>

      <div class="card">
        <h4>Formación "EMDR Nivel I y II"</h4>
        <p class="caption">Asociación EMDR España</p>
        <p class="info">Acreditada Terapeuta EMDR, siendo supervisada y preparándome para
          Clínico.</p>
      </div>

      <div class="card">
        <h4>Especialista universitario en "Trauma y EMDR"</h4>
        <p class="caption">Universidad UNIR</p>
      </div>

      <div class="card">
        <h4>Formación avanzada en "EMDR, Apego y Disociación"</h4>
        <p class="caption">Universidad UNIR</p>
      </div>

      <div class="card">
        <h4>Acreditada para ejercer Psicología Sanitaria por la Comunidad de Madrid</h4>
      </div>

    </div>
  </div>
</div>
