<section class="container">
  <div class="wrap">

    <div class="title green">
      <h3>Precios de la consulta</h3>
      <p>Precios de la consulta</p>
    </div>


    <div class="container-cards">
      <div class="card">
        <h2>Terapia Presencial</h2>
        <span>60€</span>
        <p>Sesión de una hora de duración en consulta presencial</p>
        <p class="add-info">Pago en consulta tras la sesión</p>
        <div class="btn-container">
          <button [routerLink]="['/contactme']">Pedir Cita</button>
        </div>
      </div>

      <div class="card">
        <h2>Terapia Online</h2>
        <span>60€</span>
        <p>Sesión de una hora de duración online</p>
        <p class="add-info">Pago en consulta tras la sesión</p>
        <div class="btn-container">
          <button [routerLink]="['/contactme']">Pedir Cita</button>
        </div>
      </div>
    </div>
  </div>
</section>