
@import "../../../styles";

.login {
  &-background {
    height: 500px;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../../assets/img/backgrounds/brain-pattern-gray.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 30%;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.5411764706);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 280px;

    h2 {
      text-align: center;
      margin-bottom: 20px;
      color: #333;
      font-weight: 600;
    }
    
    form{
        width: 100%;


    .form-group {
      margin-bottom: 15px;

      input {
        width: 100%;
        padding: 15px 10px;
        border: none;
        border-radius: 4px;
        box-sizing: border-box;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.122);
      }
    }

    button {
      width: 100%;
      padding: 10px;
      background-color: $color-4;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $color-3;
      }
    }
  }
}
}
