<section id="aboutmeshort">
  <div class="full-container wrap">
    <div class="title-container pink">
      <img src="../../../assets/img/icons/asterisc-pink.png" alt="">
      <div>
        <h4 class="pink">SOBRE MI</h4>
        <h2>Descubre mi carrera profesional y mis habilidades psicológicas</h2>
      </div>
    </div>

    <div class="container-flex">
      <div class="container-leftside">
        <img class="img-rosana" src="../../../assets/img/pics/rosana1.png" alt="Fotografía Rosana Calvo" />
      </div>

      <div class="container-rightside">
        <div>
          <h4>Rosana Calvo</h4>
          <p class="caption">Psicóloga Especialista en Terapia EMDR</p>
          <hr style="margin-bottom: 25px;">
          <p style="margin-bottom: 30px;">
            Comprometida con brindar un espacio seguro y confidencial para tu
            bienestar emocional. En mi consulta, podrás encontrar apoyo y
            orientación para superar tus desafíos y mejorar tu calidad de vida. La
            terapia EMDR ayuda a las personas a procesar y superar traumas
            emocionales y recuerdos dolorosos utilizando movimientos oculares u
            otros estímulos bilaterales.
          </p>
        </div>

        <div class="container-button">
          <a class="btn-2 pink" [routerLink]="['/aboutme']">Leer más</a>
        </div>
      </div>
    </div>
  </div>
</section>