@import "../../../styles";

#aboutmeshort {

  & .full-container {
    box-sizing: border-box;
    margin-bottom: 100px;

    & .container-flex {
      margin-top: 100px;
      min-height: 380px;
      display: flex;
      justify-content: space-between;
      background: $gradient-pink;
      border-radius: $br;
      box-shadow: $bs-green;
      backdrop-filter: blur(15px);
      box-sizing: border-box;

      h4, p.caption{
        color: $color-2;
      }


      & .container-leftside {
        width: 35%;
        position: relative;
        display: flex;
        justify-content: center;


        & img {
          width: 70%;
          position: absolute;
          bottom: 0;

          opacity: 0;
          transition: opacity 0.9s ease-out;
  
          &.in-view {
            opacity: 1;
          }
        }
      }

      & .container-rightside {
        padding: 3rem;
        width: 65%;
        box-sizing: border-box;
      }
    }

  }
}