<section id="infoEmdr">
    <div class="full-container">

        <div class="title">
            <h3>Terapia EMDR</h3>
            <p>Terapia EMDR <br> ¿Qué es?</p>
        </div>

        <div class="container-rightside">
            <p>La terapia EMDR es una forma especializada de psicoterapia que ayuda a las personas a <span>procesar y
                    superar experiencias traumáticas y recuerdos dolorosos. </span> Utiliza <span>movimientos oculares o
                    estímulos bilaterales </span> para ayudar al cerebro a procesar la información de manera más
                completa y saludable. </p>

            <p> Los principales usos de la terapia EMDR incluyen el tratamiento del <span>trastorno de estrés
                    postraumático (TEPT),</span> así como otros traumas, como abuso, accidentes o eventos estresantes.
                También se ha utilizado con éxito para tratar <span>la ansiedad, la depresión, los trastornos de la
                    alimentación y otros problemas de salud mental.</span> </p>

            <p>La terapia EMDR ha sido respaldada por numerosos estudios científicos que demuestran su efectividad en la
                reducción de los síntomas del TEPT y otros trastornos relacionados con el trauma. Se considera una
                terapia basada en la evidencia y está recomendada por organizaciones como la Organización Mundial de la
                Salud (OMS) y la Asociación Americana de Psicología (APA) para el tratamiento del TEPT. </p>

            <p>En resumen, la terapia EMDR es una herramienta poderosa para ayudar a las personas a sanar de
                experiencias traumáticas y vivir vidas más plenas y saludables.</p>
        </div>
    </div>

    <div class="full-container2">
        <div class="leftside">
            <p>Imagina el <span>cerebro</span> como un <span>ordenador que guarda recuerdos.</span> </p>

            <p>A veces, estos recuerdos están guardados de forma desorganizada, como archivos desordenados en el disco
                duro.
                Cuando experimentamos un <span>trauma o una experiencia dolorosa,</span> estos recuerdos pueden quedar
                atrapados en el sistema, causando <span>problemas emocionales y mentales.</span></p>

            <p><span>La terapia EMDR actúa como un programa de organización para este ordenador cerebral.</span> Utiliza
                movimientos oculares o estímulos bilaterales para ayudar al cerebro a reorganizar esos recuerdos
                traumáticos.</p>
        </div>
        <div class="rightside">
            <img src="../../../../assets/img/pics/emdr.png" alt="">
        </div>


    </div>
    <div class="out-container wrap">
        <p>Es como si el terapeuta estuviera ayudando al ordenador a <span>clasificar y organizar esos
                archivos,</span> permitiendo que el sistema funcione de manera más fluida y eficiente.</p>

        <p>Al igual que un ordenador puede experimentar una mejora significativa en su rendimiento después de una
            limpieza y organización de sus archivos, el cerebro puede experimentar una mejora en su bienestar emocional
            y mental después de una terapia EMDR. Los recuerdos dolorosos se procesan de manera más saludable, lo que
            permite a la persona vivir una vida más equilibrada y plena.</p>
    </div>
</section>