<section id="testimonyshort">
  <div class="full-container">
    <div class="title-container pink">
      <img src="../../../assets/img/icons/asterisc-pink.png" alt="Asterisco en color rosa">
      <div>
        <h4>RESEÑAS</h4>
        <h2>Opiniones de pacientes</h2>
      </div>
    </div>

    <div class="carousel-container">
        <div class="carousel" [style.transform]="getTransformStyle()">
          <div *ngFor="let slide of slides; let i = index" class="slide">
              <img src="../../../assets/img/icons/Stars.svg" alt="5 estrellas">
            <div style="display: flex; align-items: baseline;">
                <h4 style="margin-right: 20px;">{{ slide.client }}, {{ slide.age }} </h4>
                <p class="caption" style="margin: 0;">({{ slide.motivation }})</p>
            </div>
              <hr class="separator">

            <p>{{ slide.text }}</p>

          </div>
        </div>
        <button (click)="showPreviousSlide()" class="prev-btn">⟨</button>
        <button (click)="showNextSlide()" class="next-btn">⟩</button>
        <div class="dots">
          <span *ngFor="let dot of slides; let i = index" (click)="goToSlide(i)" [class.active]="i === currentIndex" class="dot"></span>
        </div>
      </div>
  </div>
</section>
