<section id="testimonyshort">
  <div class="full-container">
    <div class="title-container pink">
      <img
        src="../../../assets/img/icons/asterisc-pink.png"
        alt="Asterisco en color rosa"
      />
      <div>
        <h4>RESEÑAS</h4>
        <h2>Opiniones de pacientes</h2>
      </div>
    </div>

    <div class="carousel-container">
      <div class="carousel" [style.transform]="getTransformStyle()">
        <div *ngFor="let slide of slides; let i = index" class="slide">
          <!-- <img src="../../../assets/img/icons/Stars.svg" alt="5 estrellas"> -->
          <div style="display: flex; align-items: baseline">
            <h4 style="margin-right: 20px">
              {{ slide.nombre }}, {{ slide.edad }}
            </h4>
            <p class="caption" style="margin: 0">({{ slide.motivo }})</p>
          </div>
          <hr class="separator" />

          <p>{{ slide.review }}</p>
        </div>
      </div>
      <button (click)="showPreviousSlide()" class="prev-btn">⟨</button>
      <button (click)="showNextSlide()" class="next-btn">⟩</button>
      <div class="dots">
        <span
          *ngFor="let dot of slides; let i = index"
          (click)="goToSlide(i)"
          [class.active]="i === currentIndex"
          class="dot"
        ></span>
      </div>
    </div>

    <!-- New section for submitting a review -->
    <div class="submit-review">
      <p>
        Si conoces a Rosana y su trabajo, y te gustaría dejar una reseña puedes
        hacerlo clickando <a href="#" (click)="openModal()">aquí</a>.
      </p>
    </div>

    <!-- Modal Popup -->
    <div class="modal" *ngIf="isModalOpen">
      <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <ng-container *ngIf="!isSubmitted; else thankYouMessage">
          <h3 style="margin-bottom: 15px; font-weight: 600;">Dejar una reseña</h3>
          <form (submit)="submitReview()">
            <input
              type="text"
              id="nombre"
              [(ngModel)]="newReview.nombre"
              name="nombre"
              placeholder="Nombre"
              required
            />

            <input
              type="text"
              id="edad"
              [(ngModel)]="newReview.edad"
              name="edad"
              placeholder="Edad"
              inputmode="numeric" 
              pattern="\d{1,2}" 
              maxlength="2" 
              oninput="this.value = this.value.replace(/[^0-9]/g, '')"
              required
            />

            <input
              type="text"
              id="motivo"
              [(ngModel)]="newReview.motivo"
              name="motivo"
              placeholder="Motivo de la visita. Ej: 'Problemas personales, ansiedad...."
              required
            />

            <textarea
              id="review"
              [(ngModel)]="newReview.review"
              name="review"
              placeholder="Escribe aqui tu reseña"
              rows="8"
              cols="50"
              required
            ></textarea>

            <button class="btn-1" type="submit">Enviar Reseña</button>
          </form>
        </ng-container>
        <ng-template #thankYouMessage>
          <h3>¡Tu reseña ha sido enviada!</h3>
          <p>Gracias, tu opinión es muy importante.</p>
          <button class="btn-1" (click)="closeModal()">Cerrar</button>
        </ng-template>
      </div>
    </div>
  </div>
</section>
