// RESET________________________________________________________________________

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: unset;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
  
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


.wrap {
  width: 70%;
  height: 100%;
  margin: auto;
}

/* Importar Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Importar Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


$color-1: rgb(176, 149, 212);
$color-1-opa50: rgba(202, 84, 233, 0.5);
$color-1-opa25: rgba(202, 84, 233, 0.25);
$color-1-opa15: rgba(202, 84, 233, 0.15);

$color-2: #b46296;
$color-2-opa50: rgb(180, 98, 150, 0.5);
$color-2-opa25: rgb(180, 98, 150, 0.25);
$color-2-opa15: rgb(180, 98, 150, 0.15);

$color-4: rgb(25, 16, 38);
$color-4-opa50: rgba(25, 16, 38, 0.5);
$color-4-opa25: rgba(25, 16, 38, 0.25);
$color-4-opa15: rgba(25, 16, 38, 0.15);


$color-3: #9fac9a;
$color-3-opa50: rgb(159, 172, 154, 0.5);
$color-3-opa25: rgb(159, 172, 154, 0.25);
$color-3-opa15: rgb(159, 172, 154, 0.15);

$color-5: rgb(51, 59, 48);
$color-5-opa50: rgb(51, 59, 48, 0.5);
$color-5-opa25: rgb(51, 59, 48, 0.25);
$color-5-opa15: rgb(51, 59, 48, 0.15);


$ff-title: "Montserrat", sans-serif;
$ff-text: "font-family: "Poppins", sans-serif";

$br: 15px;
$bs-pink: 4px 5px 17px $color-2-opa15;
$bs-green: 4px 5px 17px $color-3-opa15;

$gradient-pink: linear-gradient(0deg, $color-1-opa15, white);
$gradient-green: linear-gradient(0deg, $color-3-opa15, white);



body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: $color-4;
}

h4 {
  text-align: start;
  font-size: 16px;
  font-weight: 600;
  color: $color-4;
  margin-bottom: 6px;
}

p {
  text-align: justify;
  font-size: .9rem;
  line-height: 1.5rem;
  color: $color-4;
  margin-bottom: 10px;

  &.caption{
    font-size: 13px;
    font-style: italic;
    font-weight: 300;
  }
}



.title-container {
  margin-bottom: 2rem;
  margin-top: 4rem;
  display: flex;

  img{
    width: 4%;
  }

  &.green{
    
    h4{
      color: $color-5-opa50;
    }

    h2{
      color: $color-5;
    }
  }

  &.pink{

    h4{
      color: $color-2;
    }

    h2{
      color: $color-4;
    }
  }

  & h4 {
    margin-left: 1rem;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
  }

  & h2 {
    margin-left: 1rem;
    margin-top: 10px;
    font-size: 1.4rem;
    font-weight: 500;
    color: $color-4;
  }
}

.container-button {
  width: 100%;
  display: flex;
  justify-content: start;

  &.center {
    justify-content: center;
  }

  & button {
    width: 50%;
    padding: 1rem;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;

    &.main {
      background-color: #6f9d8f;
      border: none;
      // box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.257);
      color: $color-4;
      font-weight: 600;

      &:hover {
        cursor: pointer;
        transform: scale(1.05);
        background-color: white;
        color: $color-1;
        border: 1px solid $color-1-opa25;
        transition: all 0.3s linear 0.1s;
      }
    }

    &.second {
      background-color: $color-4;
      border: 1px solid $color-1;

      &:hover {
        cursor: pointer;
        transform: scale(1.05);
        background-color: white;
        color: $color-1;
        border: 1px solid $color-1-opa25;
        transition: all 0.3s linear 0.1s;
      }
    }

    &.white{
      background-color: white;
      border: none;

      &:hover {
        cursor: pointer;
        transform: scale(1.05);
        background-color: white;
        color: $color-1;
        border: none;
        transition: all 0.3s linear 0.1s;
      }
    }

    &.pink{
      background-color: $color-1;
      border: none;
      color: white;

      &:hover {
        cursor: pointer;
        transform: scale(1.05);
        background-color: white;
        color: $color-1;
        border: 1px solid $color-1;
        transition: all 0.3s linear 0.1s;
      }
    }

    &.green{
      background-color: $color-3;
      border: none;
      color: white;
      font-weight: 600;

      &:hover {
        cursor: pointer;
        transform: scale(1.05);
        background-color: white;
        color: $color-3;
        border: none;
        transition: all 0.3s linear 0.1s;
      }
    }
  }
}

.container-btn{
  display: flex;
}

.btn-1{
  min-width: 150px;
  padding: .6rem .5rem;
  border-radius: $br;
  font-size: 12px !important;
  font-weight: 500;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease;

  &.pink{
    background-color: $color-2;
    color: white !important;

    &:hover{
      background-color: $color-2-opa50;
      color: white !important;
    }
  }

  &.green{
    background-color: $color-5;
    color: white !important;
    &:hover{
      background-color: $color-5-opa50;
      color: $color-5 !important;
      border: 2px solid $color-5;
    }
  }
}

.btn-2{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  background-color: white;
  color: $color-2 !important;
  padding: .6rem .5rem;
  border-radius: $br;
  font-size: 12px !important;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.5s ease;


  &.pink{
    color: $color-2;
    border: 2px solid $color-2;

    &:hover{
      background-color: $color-2-opa15;
      color: $color-2 !important;
    }
  }

  &.green{
    color: $color-5 !important;
    border: 2px solid $color-3;

    &:hover{
      background-color: $color-5;
      color: white !important;
    }
  }


}
