// RESET________________________________________________________________________

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: unset;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


.wrap {
  width: 75%;
  margin: auto;
}

section {
  min-height: 80vh;
}

$color-1: purple;
$color-1-opa50: rgba(249, 109, 228, 0.5);
$color-1-opa25: rgba(249, 109, 228, 0.25);
$color-1-opa15: rgba(249, 109, 228, 0.15);

$color-2: #575757;
$color-3: rgb(140, 180, 0);
$color-3-opa50: rgb(140, 180, 0, 0.5);
$color-3-opa25: rgb(140, 180, 0, 0.25);

$color-4: #ffffff;

// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

$font-text: "Poppins", sans-serif;
$font-special: "Poppins", sans-serif;

.title-container {
  border-left: 1.5rem solid $color-3-opa25;
  margin-bottom: 2rem;
  margin-top: 4rem;
  & h4 {
    margin-top: 2rem;
    margin-left: 1rem;
    font-size: 0.8rem;
    font-weight: 500;
    color: $color-2;
    text-transform: uppercase;
  }

  & h2 {
    margin-left: 1rem;

    font-size: 1.4rem;
    font-weight: 500;
    padding: 0.7rem 0 0.7rem 0;
    color: $color-2;
  }
}

.container-button {
  width: 100%;
  display: flex;
  justify-content: start;

  &.center {
    justify-content: center;
  }

  & button {
    width: 50%;
    padding: 1rem;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;

    &.main {
      background-color: $color-2;
      border: none;
      // box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.257);
      color: $color-4;
      font-weight: 600;

      &:hover {
        cursor: pointer;
        transform: scale(1.05);
        background-color: white;
        color: $color-1;
        border: 1px solid $color-1-opa25;
        transition: all 0.3s linear 0.1s;
      }
    }

    &.second {
      background-color: $color-4;
      border: 1px solid $color-1;

      &:hover {
        cursor: pointer;
        transform: scale(1.05);
        background-color: white;
        color: $color-1;
        border: 1px solid $color-1-opa25;
        transition: all 0.3s linear 0.1s;
      }
    }
  }
}

html {
  font-family: $font-text;
}
