@import "../../../styles";

.form {
  margin-top: 10rem;

  & .container {
    display: flex;
    justify-content: space-between;

    & .leftside {
      width: 48%;
      height: inherit;
    }

    & .rightside {
      width: 48%;
      height: inherit;
      display: flex;
      flex-direction: column;
      align-items: start;
      border: 1px solid $color-1;
      border-radius: 8px;
      padding: 1rem;

      & p {
        margin-bottom: 1rem;
        & span {
          font-weight: 700;
        }
      }
    }
  }

  & form {
    background-color: $color-1-opa25;
    padding: 2rem;
    border-radius: 8px;

    & .input-container {
      & h4 {
        margin-bottom: 1rem;
        font-size: 1.2rem;
        line-height: 1.6rem;
      }

      & .radios {
        display: flex;
        justify-content: space-between;
      }

      & input {
        border: none;
        border-bottom: 1px solid $color-1;
        background-color: unset;
        padding: 1rem;
        width: 80%;
        margin-bottom: 1rem;
        font-size: 1.1rem;

        &[type="radio"] {
          display: none;

          &:checked + label {
            background-color: $color-1;
            color: white;
          }
        }

        &[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        &[type="number"] {
          -moz-appearance: textfield;
        }
      }
      & label {
        display: inline-block;
        background-color: #ddd;
        padding: 4px 11px;
        font-size: 1.1rem;
        font-weight: 700;

        cursor: pointer;
        padding: 0.7rem;
        border-radius: 16px;
        background-color: $color-1-opa25;
        margin-bottom: 1rem;
        width: 27%;
        text-align: center;

        &:hover {
          background-color: white;
          border: 1px solid $color-1;
          transform: scale(1.01);
          transition: all 1s linear 0.1s;
        }
      }

      & textarea {
        width: 94%;
        border-radius: 8px;
        border: none;
        padding: 1rem;
        margin-bottom: 1rem;
        font-size: 1.1rem;
      }

      & div {
        display: flex;
        justify-content: space-between;
        & h3 {
          width: fit-content;
          padding: 1rem;
          cursor: pointer;
          text-align: center;
          font-weight: 600;
          border-radius: 20px;
          background-color: white;

          &:hover {
            box-shadow: 1px 0px 7px #0000003d;
          }
        }
      }

      &Final {
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: $color-1-opa25;
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & .emergente {
          width: 50vw;
          height: fit-content;
          background-color: white;
          border: 1px solid $color-1;
          padding: 2rem;
          border-radius: 16px;

          & h4 {
            font-size: 1.2rem;
            font-weight: 700;
            margin-bottom: 1rem;
          }

          & p {
            font-size: 1.1rem;
            margin-bottom: 0.7rem;
            line-height: 1.6rem;

            & span{
                font-weight: 600;
            }
          }

          & h3 {
            width: fit-content;
            padding: 1rem;
            cursor: pointer;
            text-align: center;
            font-weight: 600;
            border-radius: 20px;
            background-color: $color-1-opa25;

            &:hover {
              box-shadow: 1px 0px 7px #0000003d;
            }
          }

          & .btns {
            display: flex;
            justify-content: space-between;
            margin-top: 2rem;

            & button {
              background-color: unset;
              border: none;
              width: fit-content;
              padding: 1rem;
              cursor: pointer;
              text-align: center;
              font-weight: 600;
              border-radius: 20px;
              background-color: rgb(218 240 229);

              &:hover {
                box-shadow: 1px 0px 7px #0000003d;
              }
            }
          }
        }
      }
    }
  }
}
